html, body {
  margin:  0;
  padding: 0;
  
  width:  100%;
  height: 100%;
  
  background: #111;
  
  -moz-background-size: 100px 100px;
  -webkit-background-size: 100px 100px;
  background-size: 100px 100px;
  
  background: -moz-linear-gradient(-45deg, #111111 0%, #111111 25%, #112112 25%, #112211 50%, #111111 50%, #111111 75%, #112211 75%, #112211 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#111111), color-stop(25%,#111111), color-stop(25%,#112112), color-stop(50%,#112211), color-stop(50%,#111111), color-stop(75%,#111111), color-stop(75%,#112211), color-stop(100%,#112211)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #111111 0%,#111111 25%,#112112 25%,#112211 50%,#111111 50%,#111111 75%,#112211 75%,#112211 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #111111 0%,#111111 25%,#112112 25%,#112211 50%,#111111 50%,#111111 75%,#112211 75%,#112211 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #111111 0%,#111111 25%,#112112 25%,#112211 50%,#111111 50%,#111111 75%,#112211 75%,#112211 100%); /* IE10+ */
  background: linear-gradient(-45deg, #111111 0%,#111111 25%,#112112 25%,#112211 50%,#111111 50%,#111111 75%,#112211 75%,#112211 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#112211',GradientType=1 );
}


#login-form {
  position: absolute;
  
  display: block;
  
  left: 50%;
  top:  50%;
  
  margin-left: -172px;
  margin-top:  -89px;
  
  width:  344px;
  height: 178px;
  
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  
  border: 2px solid black;
  
  padding: 12px;
  
  background: #444;
  
  background: -moz-linear-gradient(top, #555555 0%, #333333 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555555), color-stop(100%,#333333)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #555555 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #555555 0%,#333333 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #555555 0%,#333333 100%); /* IE10+ */
  background: linear-gradient(top, #555555 0%,#333333 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#333333',GradientType=0 );
    
  -webkit-box-shadow: 0px 12px 72px 36px rgba(0, 221, 0, 0.125);
  -moz-box-shadow: 0px 12px 72px 36px rgba(0, 0, 221, 0.125);
  box-shadow: 0px 12px 72px 36px rgba(0, 221, 0, 0.125);
}

#login-form fieldset {
  display: block;
  
  border:  none;
  padding: 0;
  margin:  0;
}

#login-form legend {
  font: bold 18px sans-serif;
  color: #0d0;
  
  text-align: center;
  
  padding: 0;
  margin:  0;
}

#login-form legend span {
  width: 344px;
  
  padding-bottom: 18px;
  
  display: block;
}

#login-form .field {
  position: relative;
  
  width:       100%;
  height:      36px;
  
  line-height: 36px;
  
  margin: 0 0 12px 0;
}

#login-form .field label {
  position: absolute;
  
  width:  96px;
  height: 36px;
  
  font: bold 16px/36px sans-serif;
  color: #0d0;
}

#login-form .text-field {
  position: absolute;
  
  left: 118px; right: 0;
  top: 0; bottom: 0;
  
  border: 2px solid #070;
  
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  
  background: #222;
  
  overflow: hidden;
}

#login-form .text-field input {
  display: block;
  
  background: transparent;
  
  width: 212px;
  height: 20px;
  
  -webkit-box-shadow: inset 0px 2px 9px 3px rgba(17, 17, 17, 1);
  -moz-box-shadow: inset 0px 2px 9px 3px rgba(17, 17, 17, 1);
  box-shadow: inset 0px 2px 9px 3px rgba(17, 17, 17, 1); 
  
  outline: none;
  border:  none;
  padding: 6px;
  margin:  0;
  
  font-size: 16px;
  
  color: #0d0;
}

#login-form .text-field input:focus {
  display: block;

  -webkit-box-shadow: inset 0px 2px 9px 3px rgba(0, 119, 0, 0.5);
  -moz-box-shadow: inset 0px 2px 9px 3px rgba(0, 119, 0, 0.5);
  box-shadow: inset 0px 2px 9px 3px rgba(0, 119, 0, 0.5); 
}

#login-form .button-box {
  width:       100%;
  height:      36px;
  
  line-height: 36px;
  
  padding-top: 6px;
}

#login-form .button-box input {
  float: right;

  width:  96px;
  height: 36px;

  outline: none;
  border:  none;
  margin:  0;
  padding: 0;
  
  border: 2px solid #070;
  
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  
  font: bold 16px/36px sans-serif;
  color: #222;
  
  background: #0a0;
  
  -webkit-box-shadow: inset 0px 0px 9px 3px rgba(0, 128, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 9px 3px rgba(0, 128, 0, 0.5);
  box-shadow: inset 0px 0px 9px 3px rgba(0, 128, 0, 0.5); 
}

#login-form .button-box input:hover {
  background: #0c0;
}

#login-form .button-box input:active {
  -webkit-box-shadow: inset 0px 0px 9px 3px rgba(0, 64, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 9px 3px rgba(0, 64, 0, 0.5);
  box-shadow: inset 0px 0px 9px 3px rgba(0, 64, 0, 0.5); 
  
  background: #0b0;
}
